{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="card bg-dark text-light shadow mx-auto" style="max-width: 500px;">
  <div class="card-body">
    <h3 class="text-center mb-3">🔐 Cambiar contraseña</h3>

    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Nueva contraseña</label>
        <input type="password" name="password_nueva" class="form-control bg-secondary text-light" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Repetir contraseña</label>
        <input type="password" name="password_repetir" class="form-control bg-secondary text-light" required>
      </div>

      <button class="btn btn-accent w-100 mt-3">Actualizar contraseña</button>
    </form>
  </div>
</div>
{% endblock %}
